# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
projects/capstone/photon_detector/TES_dataset.npz
projects/capstone/photon_detector/capstone_proposal/proposal.aux
projects/capstone/photon_detector/capstone_proposal/proposal.bbl
projects/capstone/photon_detector/capstone_proposal/proposal.bib
projects/capstone/photon_detector/capstone_proposal/proposal.blg
projects/capstone/photon_detector/capstone_proposal/proposal.out
projects/capstone/photon_detector/capstone_proposal/proposal.pdf
projects/capstone/photon_detector/capstone_proposal/proposal.synctex.gz
projects/capstone/photon_detector/capstone_proposal/proposal.tex
projects/capstone/photon_detector/capstone_proposal/proposalNotes.bib
projects/capstone/photon_detector/capstone_report/images/5_traces.png
projects/capstone/photon_detector/capstone_report/images/area_hist.png
projects/capstone/photon_detector/capstone_report/images/area_pca_scatter.png
projects/capstone/photon_detector/capstone_report/images/class_hist.png
projects/capstone/photon_detector/capstone_report/images/classes.png
projects/capstone/photon_detector/capstone_report/images/cluster1_hist.png
projects/capstone/photon_detector/capstone_report/images/cluster_3d.png
projects/capstone/photon_detector/capstone_report/images/cluster_pca_scatter.png
projects/capstone/photon_detector/capstone_report/images/means.png
projects/capstone/photon_detector/capstone_report/images/pca_cluster_hist.png
projects/capstone/photon_detector/capstone_report/images/poisson.png
projects/capstone/photon_detector/capstone_report/images/raw_hist.png
projects/capstone/photon_detector/capstone_report/report.aux
projects/capstone/photon_detector/capstone_report/report.bbl
projects/capstone/photon_detector/capstone_report/report.bib
projects/capstone/photon_detector/capstone_report/report.blg
projects/capstone/photon_detector/capstone_report/report.out
projects/capstone/photon_detector/capstone_report/report.synctex.gz
projects/capstone/photon_detector/capstone_report/report.tex
projects/capstone/photon_detector/capstone_report/reportNotes.bib
projects/capstone/photon_detector/photon_detector_capstone-Copy1.ipynb
projects/capstone/photon_detector/photon_detector_capstone-Copy2.ipynb
projects/capstone/photon_detector/photon_detector_capstone-Copy3.ipynb
projects/customer_segments/customer_segments-Copy2.ipynb
projects/finding_donors/finding_donors-Copy3.ipynb
